@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
 
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  /* إذا أردت استخدامه كاسم مخصص بجانب الخط الافتراضي */
  --font-main: "Inter", sans-serif;

  --color-primary: #17B890;
  --color-backG : #DEE5E5;
  --color-shadow: #9DC5BB;
  --color-customOrange : #ED6A5A
}

@layer base {

  body {
    font-family: var(--font-main);
    -webkit-font-smoothing: antialiased; /* لتحسين نعومة الخط في المتصفحات */
    -moz-osx-font-smoothing: grayscale;
  }
}

/* كلاسات مساعدة عامة */
.bg-red-500 {
  background-color: #ef4444 !important;
}

.rounded-full-important {
  border-radius: 9999px !important;
}

/* أنيميشن بسيط لظهور الصفحات */
.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

html {
  scroll-behavior: smooth;
  scroll-margin-top: 5rem
}